.darkMode{
  background-color: #1c1c2e;
  color: #e4dcdc;
}

p{
  width: 750px;
  font-size: 25px;
  margin: 25px auto;
}

.App{
  text-align: center;
}

button{
  padding: 10px 25px;
  font-size: 25px;
  font-weight: bold;
}

body{
  transition: 1s;
}